<h2>Welcome</h2>
<p>Welcome to Meadowlark Travel! Please <a href="/newsletter">sign up for our newsletter</a>!</p>

{{#if username}}
  <p>Welcome, {{username}}</p>
  <p><a href="/logout">Sign Out</a></p>
{{else}}
  <ul>
    <li><a href="/auth/facebook">Login with Facebook</a></li>
    <li><a href="/auth/google">Login with Google</a></li>
  </ul>
{{/if}}
